body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 20px;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.header img {
  width: 40px;
  margin-right: 5px;
}
